@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  background: #001629;
  color: rgb(232, 232, 230);
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.imageContainer {
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  max-width: 400px;
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.linksContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.imgLink {
  margin-right: 25px;
  margin-left: 25px;
}

.mainImage {
  padding-right: 20px;
}

.message {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.ltr {
  color: #fff;
  margin: 2px;
  width: 50px;
  height: 50px;
  font-size: 38px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
}

.ltr:hover {
  color: #fff;
  opacity: 1;
}

.empty {
  color: #001629;
  width: 50px;
  height: 50px;
  font-size: 38px;
  opacity: 0;
}

a {
  text-decoration: none;
  color:#1cf0e2;
}

a:hover {
  text-decoration: underline;
}