@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
}



.message {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.ltr {
  color: #001629;
  width: 60px;
  height: 60px;
  font-size: 42px;
  border-radius: 10px;
  opacity: 1;
}
.ltr:hover {
  color: #001629;
  opacity: 1;
}
.empty {
  color: #001629;
  width: 60px;
  height: 60px;
  font-size: 42px;
  opacity: 0;
}
